@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

.cid-rsHNDVlO8D {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #49769C;
}
.cid-rsHNDVlO8D .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rsHNDVlO8D .carousel-item.active,
.cid-rsHNDVlO8D .carousel-item-next,
.cid-rsHNDVlO8D .carousel-item-prev {
  display: flex;
}
.cid-rsHNDVlO8D .carousel-controls a {
  transition: opacity .5s;
  font-size: 2rem;
}
.cid-rsHNDVlO8D .carousel-controls a span {
  position: absolute;
  top: 180px;
  padding: 10px;
  border-radius: 50%;
  color: #585858;
  background: #c8c6c6;
  opacity: .5;
}
.cid-rsHNDVlO8D .carousel-controls a:hover span {
  opacity: 1;
}
.cid-rsHNDVlO8D .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-rsHNDVlO8D .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-rsHNDVlO8D .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-rsHNDVlO8D H2 {
  color: #ffffff;
}
.cid-rsHNDVlO8D .user_text {
  color: #ffffff;
}
.cid-rsHNDVlO8D .user_name {
  color: #ffffff;
}
.cid-rsHNDVlO8D .user_desk {
  color: #ffffff;
}






.cid-rsHNDVlO8D .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.cid-rsHNDVlO8D .carousel {
    position: relative;
}
section.cid-rsHNDVlO8D {
    display: block;
}
.cid-rsHNDVlO8D .text-center {
    text-align: center!important;
}

@media (min-width: 576px){
	.cid-rsHNDVlO8D .container {
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.cid-rsHNDVlO8D .col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.cid-rsHNDVlO8D .container {
		max-width: 720px;
	}
}
@media (min-width: 992px){
	.cid-rsHNDVlO8D .container {
		max-width: 960px;
	}
}
@media (min-width: 1200px){
	.cid-rsHNDVlO8D .container {
		max-width: 1140px;
	}
}

.cid-rsHNDVlO8D .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cid-rsHNDVlO8D .pb-5, .cid-rsHNDVlO8D .py-5 {
    padding-bottom: 3rem!important;
}
.cid-rsHNDVlO8D .display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.cid-rsHNDVlO8D h1, .cid-rsHNDVlO8D h2, .cid-rsHNDVlO8D h3, .cid-rsHNDVlO8D h4, .cid-rsHNDVlO8D h5, .cid-rsHNDVlO8D h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.cid-rsHNDVlO8D .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.cid-rsHNDVlO8D .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.cid-rsHNDVlO8D .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.cid-rsHNDVlO8D .carousel-item-next, .cid-rsHNDVlO8D .carousel-item-prev, .cid-rsHNDVlO8D .carousel-item.active {
    display: block;
}
.cid-rsHNDVlO8D .carousel-item {
    justify-content: center;
    -webkit-justify-content: center;
}
.cid-rsHNDVlO8D .carousel-item.active, .cid-rsHNDVlO8D .carousel-item-next, .cid-rsHNDVlO8D .carousel-item-prev {
    display: flex;
}

.cid-rsHNDVlO8D .carousel-control-next, .cid-rsHNDVlO8D .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.cid-rsHNDVlO8D .carousel-control-next {
    right: 0;
}

.cid-rsHNDVlO8D .carousel-control-next, .cid-rsHNDVlO8D .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}







 .carousel-item {
     position: relative;
     display: none;
     float: left;
     width: 100%;
     margin-right: -100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     transition: -webkit-transform .6s ease-in-out;
     transition: transform .6s ease-in-out;
     transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-item {
         transition: none
     }
 }
 
 .carousel-item-next,
 .carousel-item-prev,
 .carousel-item.active {
     display: block
 }
 
 .active.carousel-item-right,
 .carousel-item-next:not(.carousel-item-left) {
     -webkit-transform: translateX(100%);
     transform: translateX(100%)
 }
 
 .active.carousel-item-left,
 .carousel-item-prev:not(.carousel-item-right) {
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%)
 }
 
 .carousel-fade .carousel-item {
     opacity: 0;
     transition-property: opacity;
     -webkit-transform: none;
     transform: none
 }
 
 .carousel-fade .carousel-item-next.carousel-item-left,
 .carousel-fade .carousel-item-prev.carousel-item-right,
 .carousel-fade .carousel-item.active {
     z-index: 1;
     opacity: 1
 }
 
 .carousel-fade .active.carousel-item-left,
 .carousel-fade .active.carousel-item-right {
     z-index: 0;
     opacity: 0;
     transition: 0s .6s opacity
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-fade .active.carousel-item-left,
     .carousel-fade .active.carousel-item-right {
         transition: none
     }
 }
 
 .carousel-control-next,
 .carousel-control-prev {
     position: absolute;
     top: 0;
     bottom: 0;
     z-index: 1;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 15%;
     color: #fff;
     text-align: center;
     opacity: .5;
     transition: opacity .15s ease
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-control-next,
     .carousel-control-prev {
         transition: none
     }
 }
 
 .carousel-control-next:focus,
 .carousel-control-next:hover,
 .carousel-control-prev:focus,
 .carousel-control-prev:hover {
     color: #fff;
     text-decoration: none;
     outline: 0;
     opacity: .9
 }
 
 .carousel-control-prev {
     left: 0
 }
 
 .carousel-control-next {
     right: 0
 }
 
 .carousel-control-next-icon,
 .carousel-control-prev-icon {
     display: inline-block;
     width: 20px;
     height: 20px;
     background: transparent no-repeat center center;
     background-size: 100% 100%
 }
 
 .carousel-control-prev-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
 }
 
 .carousel-control-next-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
 }
 
 .carousel-indicators {
     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 15;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: center;
     justify-content: center;
     padding-left: 0;
     margin-right: 15%;
     margin-left: 15%;
     list-style: none
 }
 
 .carousel-indicators li {
     box-sizing: content-box;
     -ms-flex: 0 1 auto;
     flex: 0 1 auto;
     width: 30px;
     height: 3px;
     margin-right: 3px;
     margin-left: 3px;
     text-indent: -999px;
     cursor: pointer;
     background-color: #fff;
     background-clip: padding-box;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     opacity: .5;
     transition: opacity .6s ease
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-indicators li {
         transition: none
     }
 }
 
 .carousel-indicators .active {
     opacity: 1
 }
 
 .carousel-caption {
     position: absolute;
     right: 15%;
     bottom: 20px;
     left: 15%;
     z-index: 10;
     padding-top: 20px;
     padding-bottom: 20px;
     color: #fff;
     text-align: center
 }