@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

.cid-rsHNDVlO8D {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #49769C;
}
.cid-rsHNDVlO8D .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rsHNDVlO8D .carousel-item.active,
.cid-rsHNDVlO8D .carousel-item-next,
.cid-rsHNDVlO8D .carousel-item-prev {
  display: flex;
}
.cid-rsHNDVlO8D .carousel-controls a {
  transition: opacity .5s;
  font-size: 2rem;
}
.cid-rsHNDVlO8D .carousel-controls a span {
  position: absolute;
  top: 20px;
  padding: 10px;
  border-radius: 50%;
  color: #585858;
  background: #c8c6c6;
  opacity: .5;
}
.cid-rsHNDVlO8D .carousel-controls a:hover span {
  opacity: 1;
}
.cid-rsHNDVlO8D .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-rsHNDVlO8D .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-rsHNDVlO8D .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-rsHNDVlO8D H2 {
  color: #ffffff;
}
.cid-rsHNDVlO8D .user_text {
  color: #ffffff;
}
.cid-rsHNDVlO8D .user_name {
  color: #ffffff;
}
.cid-rsHNDVlO8D .user_desk {
  color: #ffffff;
}






.cid-rsHNDVlO8D .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.cid-rsHNDVlO8D .carousel {
    position: relative;
}
section.cid-rsHNDVlO8D {
    display: block;
	margin-top: 20px;
}
.cid-rsHNDVlO8D .text-center {
    text-align: center!important;
}

@media (min-width: 576px){
	.cid-rsHNDVlO8D .container {
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.cid-rsHNDVlO8D .col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.cid-rsHNDVlO8D .container {
		max-width: 720px;
	}
}
@media (min-width: 992px){
	.cid-rsHNDVlO8D .container {
		max-width: 960px;
	}
}
@media (min-width: 1200px){
	.cid-rsHNDVlO8D .container {
		max-width: 1140px;
	}
}

.cid-rsHNDVlO8D .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cid-rsHNDVlO8D .pb-5, .cid-rsHNDVlO8D .py-5 {
    padding-bottom: 3rem!important;
}
.cid-rsHNDVlO8D .display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.cid-rsHNDVlO8D h1, .cid-rsHNDVlO8D h2, .cid-rsHNDVlO8D h3, .cid-rsHNDVlO8D h4, .cid-rsHNDVlO8D h5, .cid-rsHNDVlO8D h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.cid-rsHNDVlO8D .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.cid-rsHNDVlO8D .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.cid-rsHNDVlO8D .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.cid-rsHNDVlO8D .carousel-item-next, .cid-rsHNDVlO8D .carousel-item-prev, .cid-rsHNDVlO8D .carousel-item.active {
    display: block;
}
.cid-rsHNDVlO8D .carousel-item {
    justify-content: center;
    -webkit-justify-content: center;
}
.cid-rsHNDVlO8D .carousel-item.active, .cid-rsHNDVlO8D .carousel-item-next, .cid-rsHNDVlO8D .carousel-item-prev {
    display: flex;
}

.cid-rsHNDVlO8D .carousel-control-next, .cid-rsHNDVlO8D .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.cid-rsHNDVlO8D .carousel-control-next {
    right: 0;
}

.cid-rsHNDVlO8D .carousel-control-next, .cid-rsHNDVlO8D .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}







 .carousel-item {
     position: relative;
     display: none;
     float: left;
     width: 100%;
     margin-right: -100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     transition: -webkit-transform .6s ease-in-out;
     transition: transform .6s ease-in-out;
     transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-item {
         transition: none
     }
 }
 
 .carousel-item-next,
 .carousel-item-prev,
 .carousel-item.active {
     display: block
 }
 
 .active.carousel-item-right,
 .carousel-item-next:not(.carousel-item-left) {
     -webkit-transform: translateX(100%);
     transform: translateX(100%)
 }
 
 .active.carousel-item-left,
 .carousel-item-prev:not(.carousel-item-right) {
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%)
 }
 
 .carousel-fade .carousel-item {
     opacity: 0;
     transition-property: opacity;
     -webkit-transform: none;
     transform: none
 }
 
 .carousel-fade .carousel-item-next.carousel-item-left,
 .carousel-fade .carousel-item-prev.carousel-item-right,
 .carousel-fade .carousel-item.active {
     z-index: 1;
     opacity: 1
 }
 
 .carousel-fade .active.carousel-item-left,
 .carousel-fade .active.carousel-item-right {
     z-index: 0;
     opacity: 0;
     transition: 0s .6s opacity
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-fade .active.carousel-item-left,
     .carousel-fade .active.carousel-item-right {
         transition: none
     }
 }
 
 .carousel-control-next,
 .carousel-control-prev {
     position: absolute;
     top: 0;
     bottom: 0;
     z-index: 1;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 15%;
     color: #fff;
     text-align: center;
     opacity: .5;
     transition: opacity .15s ease
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-control-next,
     .carousel-control-prev {
         transition: none
     }
 }
 
 .carousel-control-next:focus,
 .carousel-control-next:hover,
 .carousel-control-prev:focus,
 .carousel-control-prev:hover {
     color: #fff;
     text-decoration: none;
     outline: 0;
     opacity: .9
 }
 
 .carousel-control-prev {
     left: 0
 }
 
 .carousel-control-next {
     right: 0
 }
 
 .carousel-control-next-icon,
 .carousel-control-prev-icon {
     display: inline-block;
     width: 20px;
     height: 20px;
     background: transparent no-repeat center center;
     background-size: 100% 100%
 }
 
 .carousel-control-prev-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
 }
 
 .carousel-control-next-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
 }
 
 .carousel-indicators {
     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 15;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: center;
     justify-content: center;
     padding-left: 0;
     margin-right: 15%;
     margin-left: 15%;
     list-style: none
 }
 
 .carousel-indicators li {
     box-sizing: content-box;
     -ms-flex: 0 1 auto;
     flex: 0 1 auto;
     width: 30px;
     height: 3px;
     margin-right: 3px;
     margin-left: 3px;
     text-indent: -999px;
     cursor: pointer;
     background-color: #fff;
     background-clip: padding-box;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     opacity: .5;
     transition: opacity .6s ease
 }
 
 @media screen and (prefers-reduced-motion:reduce) {
     .carousel-indicators li {
         transition: none
     }
 }
 
 .carousel-indicators .active {
     opacity: 1
 }
 
 .carousel-caption {
     position: absolute;
     right: 15%;
     bottom: 20px;
     left: 15%;
     z-index: 10;
     padding-top: 20px;
     padding-bottom: 20px;
     color: #fff;
     text-align: center
 }
 
 .header {
    background: #5cb85c;
}
.btn-primary {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.btn-primary:hover {
    background-color: #008800;
    border-color: #008800;
}
.text-yellow {
    font-weight: bold !important;
    color: #d22323;
    font-size: 26px;
    text-decoration: unset !important;
}
#promo .logo {
    width: 101px;
    height: 101px;
    float: left;
    margin-right: 16px;
    margin-top: 16px;
	background: url(../../../static/site/es/img/iconka.png) no-repeat;
}






.frequently_ask_ques {
	text-decoration: unset !important;
}
.frequently_ask_ques a:hover, .frequently_ask_ques a:focus {
    text-decoration: unset !important;
}
.frequently_ask_ques .frequently_ask_ques_cont {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.frequently_ask_ques .frequently_ask_ques_cont .frequently_ask_ques_title {
    padding-bottom: 5vw
}

.frequently_ask_ques .frequently_ask_ques_cont .frequently_ask_ques_title h3 {
    color: #47bddc;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase
}

.frequently_ask_ques .frequently_ask_ques_cont .panel {
    margin: 10px 0
}

.frequently_ask_ques .frequently_ask_ques_cont .panel.panel-default {
    border: none;
    border-radius: 0;
	background: #fff;
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading {
    padding: 0;
    border: 1px solid #e1e1e1
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a:hover {
    background-color: #5cb85c
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a:hover span {
    color: #fff
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a:hover .fas_icon {
    color: #fff
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a span {
    font-size: 18px;
    color: #2a2a2a;
    text-transform: capitalize
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a .fas_icon {
    font-size: 20px;
    color: #49769c;
    -webkit-transition: .5s;
    transition: .5s;
	width: 50px;
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a[aria-expanded=true] {
    background: #47bddc;
    color: #fff;
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a[aria-expanded=true] span {
    color: #fff
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-heading a[aria-expanded=true] .fas_icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #fff
}

.frequently_ask_ques .frequently_ask_ques_cont .panel-collapse .panel-body p {
    font-size: 18px;
    padding: 10px
}

.fa-chevron-down {
	background: url(../../../static/site/es/img/arrow-down.png) no-repeat center center;
}

.frequently_ask_ques .panel-body {
	color:#000;
}















[class^="modalDialog"] {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

[class^="modalDialog"]:target {
	display: block;
	pointer-events: auto;
}

[class^="modalDialog"] > div {
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.closem {
	background: #5cb85c;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
		opacity: unset !important;
}

.closem:hover { background: #fff; }

body {
	max-width: 1349px;
    margin: auto;	
}

p.mbr-fonts-style.display-7 {
    color: #fff;
}















.text-primary {
    color: #5cb85c;
}

.text-secondary {
    color: #4addff;
}

.text-success {
    color: #0dcd7b;
}

.text-info {
    color: #8282e7;
}

.text-warning {
    color: #767676;
}

.text-danger {
    color: #a0a0a0;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.alert-success {
    background-color: #0dcd7b;
}

.alert-info {
    background-color: #8282e7;
}

.alert-warning {
    background-color: #767676;
}

.alert-danger {
    background-color: #a0a0a0;
}



.cid-rtrDeDnTln {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #49769c;
	    margin-top: 20px;
}

.cid-rtrDeDnTln .mbr-row {
    margin: 0 15px;
}

@media (max-width: 991px) {
    .cid-rtrDeDnTln .card {
        margin-bottom: 20px;
    }
}

.cid-rtrDeDnTln .mbr-section-title {
    margin: 0;
    padding-bottom: 1rem;
}

.cid-rtrDeDnTln .mbr-text {
    margin: 0;
}

.cid-rtrD1GKVIy {
    padding-top: 75px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

.cid-rtrD1GKVIy .mbr-section-btn {
    margin: 0.5rem;
}

.cid-rtrD1GKVIy .mbr-section-btn > *,
.cid-rtrD1GKVIy textarea,
.cid-rtrD1GKVIy input {
    margin: 0;
}

.cid-rtrD1GKVIy .mbr-form {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.cid-rtrD1GKVIy .mbr-row {
    margin-top: 2rem;
	    margin: auto;
    max-width: 700px;
}
.cid-rtrD1GKVIy input{
	height:33px;
	    padding: 4px;
	}

.cid-rtrD1GKVIy textarea,
.cid-rtrD1GKVIy input,
.cid-rtrD1GKVIy .area {
    width: 100%;
}

.cid-rtrD1GKVIy .area,
.cid-rtrD1GKVIy .split-row {
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .cid-rtrD1GKVIy .fieldset {
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .cid-rtrD1GKVIy .fieldset .split-row {
        flex: 1 1 30%;
    }
}

.cid-rtrD1GKVIy input,
.cid-rtrD1GKVIy textarea,
.cid-rtrD1GKVIy select {
    color: #000000;
    border: 1px solid #767676;
    background: #ffffff;
}

.cid-rtrD1GKVIy input:hover,
.cid-rtrD1GKVIy textarea:hover,
.cid-rtrD1GKVIy select:hover,
.cid-rtrD1GKVIy input:focus,
.cid-rtrD1GKVIy textarea:focus,
.cid-rtrD1GKVIy select:focus {
    border-color: #5cb85c;
}

.cid-rtrD1GKVIy input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.cid-rtrD1GKVIy input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.cid-rtrD1GKVIy textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.cid-rtrD1GKVIy textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.cid-rtrD1GKVIy .area {
    width: 100%;
}

.cid-rtrD1GKVIy .field {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: .5rem;
    margin: 0;
}

.cid-rtrD1GKVIy label.area {
    padding: .5rem;
}

.cid-rtrD1GKVIy textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
}

@media (max-width: 992px) {
    .cid-rtrD1GKVIy label.input-label,
    .cid-rtrD1GKVIy textarea {
        width: 100%;
    }
}

.cid-rtrF59Z8CF {
    padding-top: 15px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

.cid-rtrF59Z8CF h1 {
    margin-bottom: 20px;
}

.cid-rtrF59Z8CF .wrapper {
    text-align: center;
}

.cid-rtrF59Z8CF .icons-list a {
    display: inline-block;
    padding: 1rem;
    margin: .5rem;
    background: #5cb85c;
}

.cid-rtrF59Z8CF .icons-list a .iconfont-wrapper .amp-iconfont {
    color: #ffffff;
    font-size: 2.4rem;
}

[class*="-iconfont"] {
    display: inline-flex;
}


@media (min-width: 768px){
.mbr-col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-flex: 0 0 50%;
}
}
@media (min-width: 992px){
.mbr-col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-flex: 0 0 25%;
}
}

h3.mbr-section-title.mbr-fonts-style.align-left.mbr-bold.mbr-white.display-5 {
    font-family: 'Roboto',sans-serif;
    font-size: 3rem;
    color: #fff;
}

}
.mbr-bold {
    font-weight: 700;
}
.cid-rtrDeDnTln .mbr-white {
	color:#fff;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1145px;
    text-align: center;
}
.mbr-row, .mbr-form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

div#rendered-message-amp-form-2 {
    color: green;
    font-size: 20px;
}